.game-card {
    border-radius: 20px !important;
    color: white !important;
    background-color: #202020 !important;
    

    &__title {
        display: flex;
        align-items: center;
        font-weight: bold !important;
    }

    &__genres {
       span {
        padding-left: 5px;
       }
    }
}