.user {
    display: flex;

    &-inner {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width: 790px;
        max-height: 100px;

        h1 {
            display: block;
            font-size: 62px;
        }

        &-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;

            button {
                height: 40px;
            }
        }
    }

    &-tabs {
        margin-top: 30px;
        max-width: 790px;

        button {
            color: white;
        }
    }
}